@tailwind base;
@tailwind components;
@tailwind utilities;

.shadow-flat {
  box-shadow: 3px 3px 0px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 3px 3px 0px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 3px 3px 0px 3px rgba(0, 0, 0, 0.5);
}
